In [4]:
import pandas as pd
df = pd.read_csv("loandata sql.csv")
df.head()

,Term,LoanStatus,StatedMonthlyIncome,BorrowerAPR,BorrowerRate,BorrowerState,ListingCategory (numeric),EmploymentStatus,IsBorrowerHomeowner,IncomeRange,...,PublicRecordsLast10Years,RevolvingCreditBalance,BankcardUtilization,LoanMonthsSinceOrigination,FirstRecordedCreditLine,TotalCreditLinespast7years,OpenRevolvingAccounts,OpenRevolvingMonthlyPayment,PublicRecordsLast12Months,Recommendations
0,36,Completed,3083.333333,0.16516,0.1580,CO,0,Self-employed,True,"$25,000-49,999",...,0.0,0.0,0.00,78,2001-10-11 00:00:00,12.0,1,24,0.0,0
1,36,Current,6125.000000,0.12016,0.0920,CO,2,Employed,False,"$50,000-74,999",...,1.0,3989.0,0.21,0,1996-03-18 00:00:00,29.0,13,389,0.0,0
2,36,Completed,2083.333333,0.28269,0.2750,GA,0,Not available,False,Not displayed,...,0.0,NaN,NaN,86,2002-07-27 00:00:00,3.0,0,0,NaN,0
3,36,Current,2875.000000,0.12528,0.0974,GA,16,Employed,True,"$25,000-49,999",...,0.0,1444.0,0.04,16,1983-02-28 00:00:00,29.0,7,115,0.0,0
4,36,Current,9583.333333,0.24614,0.2085,MN,2,Employed,True,"$100,000+",...,0.0,6193.0,0.81,6,2004-02-20 00:00:00,49.0,6,220,0.0,0

In [6]:
df.tail(1)

,Term,LoanStatus,StatedMonthlyIncome,BorrowerAPR,BorrowerRate,BorrowerState,ListingCategory (numeric),EmploymentStatus,IsBorrowerHomeowner,IncomeRange,...,PublicRecordsLast10Years,RevolvingCreditBalance,BankcardUtilization,LoanMonthsSinceOrigination,FirstRecordedCreditLine,TotalCreditLinespast7years,OpenRevolvingAccounts,OpenRevolvingMonthlyPayment,PublicRecordsLast12Months,Recommendations
113936,36,Current,4583.333333,0.13189,0.1039,NY,1,Employed,False,"$50,000-74,999",...,1.0,6166.0,0.8,2,1995-01-01 00:00:00,44.0,8,289,0.0,0